body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 40px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 8px 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin:10px;
}

.task-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.pending {
  color: orange;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
}

.completed {
  color: green;
  font-weight: bold;
}

.dropdown {
  border: 1px solid #ccc;
  border-radius: 6px;
  max-height: 150px;
  overflow-y: auto;
  background: white;
  position: absolute;
  width: 38%;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;

}

.dropdown-item:hover {
  background: #f0f0f0;
}